*{
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background: #efe784;
    margin: 0px 480px;
}

/* ---------------------------------------------------------------------- */

div.header{
 
    background: green;
    background-image: url(./img/logoheader.png), url(./img/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 0px 0px 0px 0px ;
    
}


div.header h1.theader {
    display: inline-flex;
    padding-left: 400px;
    margin: 0;
    width: 960px;
    padding: 0px 100px 0px 350px;
    padding-top: 250px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    letter-spacing: 20px;
    font-weight: lighter;
    font-size: 1.5rem;
    color: #efe784;
}

/* ---------------------------------------------------------------------- */

div.contenair1{

    background: #3e3838;
    padding: 10px 150px 30px 150px;
    text-align: center;
}

h2.titre1{
    display: inline-flex;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 5px;
    color: #efe784;
    border-top: 1px solid #efe784;
    border-bottom: 1px solid #efe784;
    margin: 40px 0px 25px 0px;
    padding: 0px 10px 0px 10px;
}

p.text1{
    text-align: center;
    color: #efe784;
    line-height: 25px;
    font-size: 1.00rem;
    margin-bottom: 30px;
}

/* ---------------------------------------------------------------------- */

div.contenair2{
    border: 1px solid white;
    background: white;
    padding: 10px 150px 0px 0px;

}

h2.titre2{
    text-align: left;
    color: #6cbcb3;
    font-weight: 400;
    font-size: 2rem;
    margin: 40px 0px 10px 150px;
    
}

p.text2{
    text-align: left;
    color: #3e3838;
    line-height: 25px;
    font-size: 1.00rem;
    margin: 30px 0px 25px 150px;
}

img.img2{
    margin: 10px 0px 0px 150px;
    width: 700px;
}

p.sp1{
    color: #6cbcb3;
    margin: 20px 0px 2px 150px;
    font-size: 0.750rem;
}

p.sp2{
    color: #6cbcb3;
    margin: 0px 0px 45px 150px;
    font-size: 0.750rem;
}


/* ---------------------------------------------------------------------- */

div.contenair3{
    border: 1px solid #6cbcb3;
    background: #6cbcb3;
    padding: 10px 100px 0px 0px;

}

h2.titre3{
    text-align: left;
    color: #3e3838;
    margin: 40px 0px 25px 150px;
    font-weight: 400;
    font-size: 2rem;
}

p.text3{
    text-align: left;
    color: #3e3838;
    line-height: 25px;
    font-size: 1.00rem;
    margin: 40px 40px 45px 150px;
}

img.img2{
    margin: 10px 0px 0px 150px;
    width: 700px;
}

p.sp3{
    color: #ffffff;
    margin: 20px 0px 3px 150px;
    font-size: 0.750rem;
}

p.sp4{
    color: #ffffff;
    margin: 0px 0px 45px 150px;
    font-size: 0.750rem;
}

/* ---------------------------------------------------------------------- */

div.contenair4{
    border: 1px solid #3e3838;
    background: #3e3838;
    padding: 10px 100px 0px 0px;
}

h2.titre4{
    text-align: left;
    color: #fff;
    margin: 40px 0px 10px 150px;
    font-weight: 400;
    font-size: 2rem;
}
p.text4{
    text-align: left;
    color: #fff;
    line-height: 25px;
    font-size: 1.00rem;
    margin: 40px 40px 45px 150px;
}

img.img3{
    margin: 10px 0px 0px 150px;
    width: 700px;
    
}

p.sp5{
    color: #ffffff;
    margin: 20px 0px 3px 150px;
    font-size: 0.750rem;
}

p.sp6{
    color: #ffffff;
    margin: 0px 0px 45px 150px;
    font-size: 0.750rem;
}

/* ---------------------------------------------------------------------- */


div.footer{
    border: 1px solid #282828;
    background: #282828;
}
footer{

    font-size: 0.75rem;
    color: white;
    margin: 10px 0px 10px 90px;
}

img.imgfooter{
    margin: 20px 0px 3px 90px;
}

span{
    color: #efe784;
}