#container{
    background: cadetblue;
    min-height: 200px;
    /* width: 500px; */
    border: 2px solid sienna;
    margin: 10% auto;
    display: flex;
    flex-direction: row; /* rox | row-reverse | column | column-reverse  */
    justify-content: flex-start; /* flex-start | flex-end | center | space-around | space-between | space-evenly */
    align-items: stretch; /* stretch | flex-start | flex-end | center | baseline */
    /*flex-wrap: wrap; /* nowrap | wrap | wrap-reverse */
    /* flex-flow: column wrap; /*Propriéter racourcie en rapport a flex-direction et flex-wrap */

}

#flex-item1{
    background: red;
    width: 250px;
    height: 200px;
    order: 0; /* Le order permet d'afficher tel box avant tel box, les somme négatif permet d'afficher les box élever de s'afficher a l'avant. */
    flex-grow: 0;
    flex-shrink: 0; /* permet de reduire la box lorsque que la page est retrécie  */
    flex-basis: 33px;
    flex: 0 0 80px; /* flex: grow | shrink | basis */
}

#flex-item2{
    background: blue;
    width: 250px;
    height: 200px;
    font-size: 100px;
    order: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33px;
    flex: 0 0 33px; 
}

#flex-item3{
    background: yellow;
    width: 250px;
    height: 200px;
    order: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33px;
    flex: 0 0 33px;
}

/* #flex-item4{
    background: green;
    width: 250px;
    height: 100px;
    order: -1;
}

#flex-item5{
    background: purple;
    width: 250px;
    height: 100px;
    order: 0;
}

#flex-item6{
    background: orange;
    width: 250px;
    height: 100px;
    order: 0;
} */