
.center{
    background: rgb(0, 119, 255);
    padding: 10px 10px 10px 10px;
    
}













header{
    display: flex;
    margin: 20px 20px 20px 20px;
    align-items: stretch;
    height: 150px;
    
    
    
}
.h1{
    background: orange;
    flex-grow: 2;
    margin-right: 5%;
}

.h2{
    background-color: grey;  
    flex-grow: 2;  
}





.contenair{
    display: flex;
    margin: 20px 0px 20px 20px;
    align-items: stretch;
    height: 100px;
    
}

.flexbox1{
    background-color: yellow;
    flex-grow: 0;
    width: 100%;
    margin-right: 2%;

}




.contenair2{
    display: flex;
    margin: 0px 20px 35px 20px;

    justify-content: space-around;

}

.flexbox3{
    background-color: orange;
    flex-grow: 2;
    height: 80px;
    margin-right: 10%;

}
.flexbox4{
    background-color: orange;
    flex-grow: 2;
    margin-right: 10%;

}
.flexbox5{
    background-color: orange;
    flex-grow: 2;
    margin-right: 10%;
}
.flexbox6{
    background-color: orange;
    flex-grow: 2;
}






.contenair3{
    display: flex;
    margin: 0px 20px 5px 20px;
    height: 100px;
    text-align: center;
}

.flexbox7{
    background-color: purple;
    flex-grow: 2;
    margin-right: 5%;
}
.flexbox8{
    background-color: purple;
    flex-grow: 2;
}















footer{
    display: flex;
    background-color: green;
    margin: 0px 20px 20px 20px;
    height: 100px;
}
