.global-container{
    max-width: 1920px;
    margin: 0 auto;
}
video{
    object-fit: cover;
}
/* #nownever{
    background: url(./images/parallax.jpg);
    background-size: auto;
    object-fit: cover;
} */

#takeaction{
    /* Votre image */
  background-image: url("./images/parallax.jpg");

  /* Une hauteur variable */
  height: 15vh;

  /* L'effet de parallax */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#form1{
    margin: 0 20% 0 20% !important;
}