*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #212121;
}

header{
    display: flex;
    justify-content: space-evenly;
    gap: 2%;
    background: rgba(128, 128, 128, 0.144);
    border-radius: 100px;
    margin: 1% 20% 3% 20%;
    padding: 0.5%;
}
a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}